.auth_block {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  .form_block {
    display: flex;
    gap: 20px;
    justify-content: start;
    margin-right: 70px;

    .auth_form {
      background-color: rgb(var(--secondary-color));
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .fields {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 10px;
      }

      .reset_password_link {
        color: rgb(var(--primary-color));
      }
    }
  }
}

.recaptcha {
  transform: scaleX(1.22);

  > div > div {
    @apply mx-auto;
  }
}
